.container {
    height: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    width: 5rem;
}