.container {
    height: 100%;
}

.main-content-and-button {
    height: 100%;
    display: flex;
}

.main-content {
    padding: 1rem 3rem;
    flex-grow: 1;
}

.title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

button {
    width: 5rem;
}

.side-nav-button {
    display: flex;
}

.sidenav-content {
    width: 50%;
}