# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
**/__pycache__



# Unit test / coverage reports
.coverage
coverage.xml



# Jupyter Book documentation
docs/_build/
docs/reference/apidoc/_autosummary


# Jupyter Notebook
*.ipynb_checkpoints
*.db

# local configs
configs.py

# logs
**/BuildingMOTIF.log

buildingmotif-app/node_modules/