# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
*/__pycache__



# Unit test / coverage reports
.coverage
coverage.xml



# Sphinx documentation
docs/build/


# Jupyter Notebook
*.ipynb_checkpoints
*.ipynb

