<div class="container">
    <mat-list *ngFor="let library of libraries">
        <mat-checkbox [formControl]="$any(selectedLibrariesForm.controls[library.id])">{{library.name}}</mat-checkbox>
    </mat-list>

    <button
    (click)="validate()"
    [disabled]="selectedLibrariesForm.invalid"
    mat-raised-button
    color="primary">
        Validate
    </button>

    <mat-progress-bar *ngIf="showValidatingSpinner" mode="indeterminate"></mat-progress-bar>
    <ngx-codemirror #codemirror
        *ngIf = "validationResponse !== ''"
        [(ngModel)]="validationResponse"
        [options]="codeMirrorOptions">
    </ngx-codemirror>
</div>
