<div class="container">
    <div class="title"> {{template.name}} </div>

    <div [ngSwitch]="state">
        <app-template-evaluate-form
            *ngSwitchCase="'FORM'"
            [template]="template"
            (parameterFormValuesEvent)="parameterFormValuesEvent($event)">
        </app-template-evaluate-form>
        
        <app-template-evaluate-result
            *ngSwitchCase="'RESULT'"
            [evaluateTemplate]="evaluatedGraph"
            [models]="models">
        </app-template-evaluate-result>
    </div>
</div>