.content {
    display: flex;
}

.progess-bar{
    width: 10rem;
}

.title {
    padding-bottom: 1rem;
    font-size: 2rem;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}