<div class="container">
    <div> New Model </div>
    <form class="new-model-form" [formGroup]="newModelForm">
        <mat-form-field appearance="outline" floatLabel="never">
                <input type="text"
                        aria-label="model name"
                        placeholder="model name"
                        matInput
                        formControlName="nameControl">
                <mat-error *ngIf="newModelForm.get('nameControl')?.hasError('invalidCharacter')">
                        cannot contain &lt;, >, ", ^, &#123;, }, &vert;, \, ^, or spaces
                </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="never">
                <textarea type="text"
                        aria-label="model description"
                        placeholder="model description"
                        matInput
                        formControlName="descriptionControl">
                </textarea>
        </mat-form-field>
        <!-- model input -->
        <input type="file" class="file-input" (change)="handleModelJsonInput($event)" #modelUpload>
        <div class="file-upload">
                model file: {{modelJson?.name || "No file uploaded yet."}}
                <button mat-mini-fab color="primary" class="upload-btn" (click)="modelUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                </button>
        </div>
    </form>
    <button mat-raised-button color="primary" (click)="createModel()" [disabled]="newModelForm.invalid"> New Model </button> 
</div>
