.container {
    display: flex;
    flex-direction: row; 
    height: 100%;
    width: 100%;
}

.pointlabels {
    height: 50%; 
    width: 50%;
}

.parser {
    height: 90%;
    width: 50%;
}

svg {
    height: 100%;
}

ngx-codemirror {
    height: 100%;
    width: 100%;
    font-size: 24px;
}