<div class="container">
  <div class="pointlabels">
    <button mat-raised-button color="primary" (click)="openDialog()">Pick one</button>

    <!-- Unparsed -->
    <ngx-codemirror #codemirror [options]="codeMirrorOptions" [formControl]="pointLabelsFormControl"></ngx-codemirror>
    <button mat-raised-button color="primary" (click)="parse()">Parse</button>

    <!-- Parsed -->
    <mat-list>
      <mat-card *ngFor="let r of results">
        <mat-card-title>
          <span *ngFor="let t of r.tokens">
            <a *ngIf="t.token == 'Delimiter'" title="{{t.token}}" style="color:red"
              (mouseover)="onHover(t)">{{t.value}}</a>
            <a *ngIf="t.token == 'Identifier'" title="{{t.token}}" style="color:blue"
              (mouseover)="onHover(t)">{{t.value}}</a>
            <a *ngIf="t.token == 'Constant'" title="{{t.token}}" style="color:green"
              (mouseover)="onHover(t)">{{t.value}}</a>
            <a *ngIf="t.token !== 'Delimiter' && t.token !== 'Identifier' && t.token !== 'Constant'" title="{{t.token}}"
              style="color: purple" (mouseover)="onHover(t)">{{t.value}}</a>
          </span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="r._errors">
          <div *ngFor="let error of r._errors">{{error}}</div>
        </mat-card-subtitle>
      </mat-card>
    </mat-list>
  </div>

  <div class="parser">
    <div id="blocklyDiv"></div>
    <xml id="toolbox" style="display: none">
      <category name="Custom" colour="360">
        <block type="string-url"></block>
        <block type="string-token"></block>
        <block type="rest"></block>
        <block type="substring_n"></block>
        <block type="choice"></block>
        <block type="sequence-wrapper"></block>
        <block type="sequence-internal"></block>
      </category>
    </xml>
  </div>
</div>


<div class="Block">
  <label id="lbl">Code </label>
  <input type='file' (change)="fileChanged($event)">
</div>