.container {
    padding: 3rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.search-bar {
    width: 30rem;
}

.model {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}