<div class="container">
    <mat-progress-bar *ngIf="showGettingShapesSpinner" mode="query"></mat-progress-bar>

    <div class="title">Shapes</div>
    <mat-list *ngFor="let item of shapes | keyvalue">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.key}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let shape of item.value">
                <mat-checkbox (change)="toggle_selected(shape)">
                    <b>{{shape.shape_uri}}</b> - {{shape.library_name}}
                </mat-checkbox>
            </mat-list>
        </mat-expansion-panel>
    </mat-list>

    <mat-form-field>
        <mat-label>Target Node</mat-label>
        <mat-select [(ngModel)]="selectedTargetNode">
          <mat-option *ngFor="let targetNode of targetNodes" [value]="targetNode">
            {{targetNode}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <button *ngIf="!showValidatingSpinner" mat-raised-button (click)="validate()" color="primary">Validate</button>
    <mat-progress-bar *ngIf="showValidatingSpinner" mode="query"></mat-progress-bar>

    <div *ngIf="response !== undefined">
      <mat-list *ngFor="let item of response | keyvalue">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{item.key}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let reason of item.value">{{reason}}</div>
          </mat-card-content>
        </mat-card>
      </mat-list>
    </div>
</div>