.mat-expansion-panel {
    background-color: rgba(201, 201, 201, 0.3);
    margin: 0.5rem;
}

.mat-expansion-panel-header {
    background-color: rgba(201, 201, 201, 0.3);
}

.container {
    margin-bottom: 3rem;
    width: 100%;

}

.title {
    padding: 1rem;
    font-size: 2rem;
}

.mat-form-field{
    display: flex;
    width: 100%;
    
}

mat-select{
    width: 100%;
    
}


mat-form-field {
    width: 100%;
}

.container ::ng-deep .mat-form-field-wrapper {
    width: 100%;
    margin: 0rem 1rem;
} 

button {
    margin: 1rem;
}

mat-card {
    margin: 1rem;
}

mat-card-content{
    white-space: pre-line
}

.passes{
    background-color: green;
    color: white;
}

.mat-checkbox.mat-accent ::ng-deep .mat-checkbox-inner-container {
    margin: 8px 8px auto 2px;
}